<% if user_signed_in? %>
    <li class='nav-item'><%= link_to 'About', page_path(:about), class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Edit account', edit_user_registration_path, class: 'nav-link' %></li>
    <li class='nav-item'><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-link' %></li>

<% else %>
    <li class='nav-item'>
      <%= link_to '<i class="pe-7s-right-arrow"></i><span>Sign in</span>'.html_safe, new_user_session_path, class: 'nav-link' %>
    </li>
    <li class='nav-item'>
      <%= link_to '<i class="pe-7s-add-user"></i><span>Sign up</span>'.html_safe, new_user_registration_path, class: 'nav-link' %>
    </li>
    <li class='nav-item'><%= link_to '<i class="pe-7s-target"></i><span>About</span>'.html_safe, page_path(:about), class: 'nav-link' %></li>
<% end %>
